<section id="singlePost">
  <div class="jumbotron">
    <h1 class="display-4">{{blogPost.title}}</h1>
    <p><span id="ownerName">Username:</span> {{blogPost.user.username}} </p>
    <p><span data-postID="{{blogPost.id}}" id="datePosted">Created On:</span>
      {{blogPost.date}}</p>

    <p class="lead">{{blogPost.content}}</p>
    <hr class="my-4" />
    <div id="comments">
      {{#each blogPost.comments as |comment|}}
        <p> {{comment.content}} </p>
      {{/each}}
    </div>
    <p class="lead">
      <a
        class="btn btn-primary btn-lg"
        href="/editPost/{{blogPost.id}}"
        role="button"
      >Edit Post</a>
      <a class="btn btn-primary btn-lg" role="button" id="deletePost">Delete
        Post</a>
  </div>
</section>

<script src="/js/post.js"></script>